# Dependencies
node_modules
yarn.lock
pnpm-lock.yaml

# Build output
.next
out
venv/
.venv
.env
.env.*

# `duction files
build
dist

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
*.db

# Misc
*.tgz

/app/generated/prisma
./notes.txt
notes.txt